{% extends 'base.html.twig' %}

{% block content %}
<div class="tabs is-centered is-medium is-toggle mt-5" id="main-nav">
    <ul>
        <li class="is-active"><a href="#about">About</a></li>
        <li><a href="#gamejam">Gamejams</a></li>
    </ul>
</div>
<div id="articles">
    <div class="container notification" id="target-about">
        Welcome on my website<br>
        Things are quite more empty than before, the old website was a bit of a mess on some points so I'm slowly redoing things with Bulma<br>
        And of course as a good developer I'm pushing in prod <span class="material-symbols-outlined">plumbing</span>
    </div>
    <div class="is-hidden container is-fluid" id="target-gamejam">
        <div class="container control">
            {% include 'gamejamFilters.html.twig' %}
        </div>
        <h3 class="subtitle has-text-centered">{{ jams.data | length }}<span id="entriesFiltered"></span> entries</h3>
        <div class="mt-5 is-flex is-justify-content-center is-flex-wrap-wrap is-gap-5">
            {% for jam in jams.data %}
                {% include 'gamejam.html.twig' %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}