{% extends 'base.html.twig' %}

{% block content %}
<div class="tabs is-centered is-medium is-toggle mt-5" id="main-nav">
  <ul>
    <li class="is-active"><a href="#about">About</a></li>
    <li><a href="#gamejam">Gamejams</a></li>
  </ul>
</div>
<div id="articles">
    <div class="container notification" id="target-about">
      Welcome on my website<br>
      I'm still working on this so this should be a work in progress for a bit <span class="material-symbols-outlined">plumbing</span>
    </div>
    <div class="is-hidden container is-fluid" id="target-gamejam">
      <div class="container control">
        <div class="select">
          <select>
            <option value="">-- Select location --</option>
            {% for key, value in jams.locations %}
                <option value="{{ key }}">{{ key }} ({{ value }})</option>
              {% endfor %}
          </select>
        </div>
      </div>
      <div class="mt-5 is-flex is-justify-content-center is-flex-wrap-wrap is-gap-5">
        {% for jam in jams.data %}
          {% include 'gamejam.html.twig' %}
        {% endfor %}
      </div>
    </div>
</div>
{% endblock %}