{% extends 'base.html.twig' %}

{% block content %}
<div class="container notification mt-5">
    Welcome on my website<br>
    I'm still working on this so this should be a work in progress for a bit <span class="material-symbols-outlined">plumbing</span>
</div>
<div class="tabs is-centered is-medium is-toggle" id="main-nav">
  <ul>
    <li class="is-active"><a href="#about">About</a></li>
    <li><a href="#gamejam">Gamejams</a></li>
  </ul>
</div>
<div id="articles">
    <div id="target-about">
        Yadayada
    </div>
    <div id="target-gamejam" class="is-hidden">
      Jam
    </div>
</div>
{% endblock %}